**/*.d.ts
dist/
docs/
patches/
typings/
node_modules
vendor/
public
build
**/CHANGELOG.md
**/assets
**/translations
**/schema.json
**/*.yml
**/*.yaml
.yarn/
**/webmobile-sc-components/**/*.json
**/generated-apis/**/*.ts
**/*.svg
workspace-plugins/src/generators/**/files
tsconfig.*