@import 'tailwindcss';

@theme {
  --color-error: var(--color-red-500);
  --color-info: var(--color-blue-500);
  --color-success: var(--color-green-600);
  --color-warning: var(--color-yellow-500);
  --color-brand-yellow: #ffde59;
  --color-brand-blue: #004aad;
}

@layer utilities {
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
  }
  .text-stroke-3 {
    -webkit-text-stroke-width: 3px;
  }
  .text-stroke-brand-blue {
    -webkit-text-stroke-color: var(--color-brand-blue);
  }
}

body {
  @apply h-screen overflow-y-auto scroll-smooth snap-y snap-mandatory;
}

.skeleton-animation {
  background: rgba(150, 150, 150, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(170, 170, 170, 0.3)),
    color-stop(33%, rgba(150, 150, 150, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(170, 170, 170, 0.3) 18%,
    rgba(150, 150, 150, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 1s infinite ease-out;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.pattaya-regular {
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-outline-brand-blue {
  -webkit-text-fill-color: white;
  text-shadow:
    1px 1px 1px var(--color-brand-blue),
    2px 2px 1px var(--color-brand-blue),
    3px 3px 1px var(--color-brand-blue),
    4px 4px 1px var(--color-brand-blue),
    5px 5px 1px var(--color-brand-blue),
    6px 6px 1px var(--color-brand-blue),
    7px 7px 1px var(--color-brand-blue),
    8px 8px 1px var(--color-brand-blue),
    9px 9px 1px var(--color-brand-blue),
    10px 10px 1px var(--color-brand-blue);
}
